:root {
  --white: #ffffff;
  --yellow: #efc01a;
  --light-blue: #badbd8;
  --green: #075755;
  --dark-green: #04302f;
}

@font-face {
  font-family: "proxima_nova_rgregular";
  src: url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot");
  src: url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff")
      format("woff"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf")
      format("truetype"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "proxima_nova_rgbold";
  src: url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot");
  src: url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff")
      format("woff"),
    url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf")
      format("truetype"),
    url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "adelle_rgregular";
  src: url("https://litmus.com/fonts/Emails/adelle_reg-webfont.eot");
  src: url("https://litmus.com/fonts/Emails/adelle_reg-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://litmus.com/fonts/Emails/adelle_reg-webfont.woff")
      format("woff"),
    url("https://litmus.com/fonts/Emails/adelle_reg-webfont.ttf")
      format("truetype"),
    url("https://litmus.com/fonts/Emails/adelle_reg-webfont.svg#adelle_rgregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "proxima_nova_rgregular", Helvetica, Arial, sans-serif;
}

.btn-outline-success:hover {
  background-color: var(--green) !important;
}
nav {
  background-color: var(--light-blue);
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  height: 80px;
  padding: 10px;
}

.nav__right {
  width: 50%;
  display: flex;
  justify-content: start;
}

.nav__right ul {
  padding: 0px;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.nav__right ul li a {
  text-decoration: none;
  color: black;
}

.nav__right ul li a:hover {
  text-decoration: underline;
  transition: 0.5s ease-in;
}

.nav__left--btn {
  border: none;
  color: black;
  border-radius: 15px;
  padding: 10px;
  transition: 0.2s ease-in;
}

.nav__left--btn:hover {
  background-color: rgb(223, 223, 223);
  transition: 0.2s ease-in;
}

.nav__right__brand {
  display: flex;
  align-items: center;
}

.nav__right__brand-logo {
  height: 100px;
  width: 100px;
}

.nav__right__brand-logo img {
  width: 100%;
  height: 100%;
}

.nav__right__brand-text {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--green);
}
